body {
  background-image: url("Wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 30px;
    border: 4px dotted #0C6E7B;
}

td {
    text-align: center;
}

tr {
    background-color: #2B2C2C;
    color: #E18C95;
    text-shadow: 2px 2px #2B2C2C;
    border: 4px dotted #0C6E7B;
}

th[scope="col"] {
    background-color: #E18C95;
    color: #E18C95;
    text-shadow:  1px 1px #2B2C2C;
    border: 4px dotted #0C6E7B;
}

th[scope="row"] {
    background-color: #E18C95;
    color: #E18C95;
    text-shadow: 1px 1px #2B2C2C;
    border: 4px dotted #0C6E7B;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: #2B2C2C;
    text-shadow: 2px 2px  #E18C95,
                 4px 4px  #6BC6D9;
    font-size: 19px;

}

table {
    border-collapse: collapse;
    border: 4px dotted #0C6E7B;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

input {
    background-color: #E18C95;
    border: 3px dotted #0C6E7B;
}